.login-card {
    max-width: 420px;
    margin: 80px auto;
    padding: 16px;
  }
  .full {
    width: 100%;
  }
  .error {
    margin: 8px 0;
  }
  
  .btn-login{
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .btn-login .btn-login-inner{
    min-width: 40%;
  }